{% extends 'layout.twig' %}

{% block body %}
    <div class="container-fluid text-center margin-top">
        <h1>{{ title }}</h1>
        <br>
        <div class="container">
            <div class="container-md">
                <div class="card">
                    <h5 class="card-header">Anmeldedaten hinzufügen</h5>
                    <div class="card-body">
                        <form class="row" id="credential-add-form">
                            <div class="col">
                                <label for="username">Benutzername</label>
                                <input autocomplete="username" required type="text" id="username" name="username">
                            </div>
                            <div class="col">
                                <label for="password">Passwort</label>
                                <input autocomplete="new-password" required type="password" id="password" name="password">
                            </div>
                            <div class="col">
                                <label for="enablePassword">Enable Passwort</label>
                                <input autocomplete="new-password" required type="password" id="enablePassword" name="enablePassword">
                            </div>

                            <div class="col">
                                <label for="description">Beschreibung</label>
                                <input type="text" id="description" name="description">
                            </div>

                            <div class="col">
                                <label for="comments">Kommentar</label>
                                <input type="text" id="comments" name="comments">
                            </div>

                            <div class="col">
                                <label for="credentialType">Typ</label>
                                <select id="credentialType" name="credentialType">
                                    <option value="" selected>Nichts ausgewählt</option>
                                    <option value="GLOBAL">GLOBAL</option>
                                    <option value="APP">APP</option>
                                </select>
                            </div>
                        </form>
                        <br>
                        <a href="#" class="btn btn-primary" id="add-credential-button">Hinzufügen</a>
                    </div>
                </div>
            </div>
            <br>

            <table class="table table-dark table-striped" id="host-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Instanz UUID</th>
                    <th scope="col">Benutzername</th>
                    <th scope="col">Passwort</th>
                    <th scope="col">Enable Passwort</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Kommentar</th>
                    <th scope="col">Aktionen</th>
                </tr>
                </thead>
                <tbody id="credential-table-body">
                {% for cred in credentials %}
                    <tr id="row-{{ cred.id }}">
                        <th scope="row">{{ cred.id }}</th>
                        <td>{{ cred.instanceUuid }}</td>
                        <td>{{ cred.username }}</td>
                        <td>{{ cred.password }}</td>
                        <td>{{ cred.enablePassword }}</td>
                        <td>{{ cred.description }}</td>
                        <td>{{ cred.comments }}</td>
                        <td>
                            <button id="deleteButton-{{ cred.id }}" data-id="{{ cred.id }}"
                                    class="btn btn-outline-danger btn-sm" type="button" label="Löschen">
                                <i class="bi bi-x btn-sm" style="font-size: 2rem; color: white;"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script>
        {% for cred in credentials %}
        const deleteButton_{{ cred.id | replace({"-": "_"}) }} = document.getElementById("deleteButton-{{ cred.id }}");
            deleteButton_{{ cred.id | replace({"-": "_"}) }}.addEventListener("click", function () {
            deleteCredential(deleteButton_{{ cred.id | replace({"-": "_"}) }}.dataset.id);
        });
        {% endfor %}

        async function deleteCredential(id) {
            const response = await fetch('/api/credential/' + id, {
                method: 'DELETE',
                body: {}
            });
            console.log("response", response)

            if (!response.ok) {
                console.error('Error:', response);
                alert("Fehler beim Entfernen der Anmeldedaten mit dem Fehler: " + response.statusText);
                document.location.reload()
            } else {
                document.location.reload()
            }
        }

        // Add new credential
        const addNewCredentialButton = document.getElementById('add-credential-button');

        addNewCredentialButton.addEventListener('click', async function (event) {
            event.preventDefault();
            const form = document.querySelector('#credential-add-form');
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            if(data.username === ""){
                alert("Bitte geben sie einen Benutzernamen an!");
                return;
            }

            const response = await fetch('/api/credential/', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            console.log("response", response)

            if (!response.ok) {
                console.error('Error:', response);
                alert("Fehler beim Hinzufügen der Anmeldedaten mit dem Fehler: " + response.statusText);
                document.location.reload()
            } else {
                document.location.reload();
            }
        });


    </script>

{% endblock %}
